
@{
    ViewBag.Title = "Tìm kiếm file";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lsFile = (List<FileManager.Models.DTO.FileDTO>)ViewBag.FileSearch;
    var sess = (FileManager.Models.Entity.User)Session["Login"];
}


<section class="featured-courses vertical-column courses-wrap">

    <div class="container">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="alert @TempData["AlertType"] hide" style="text-align:center;">
                @TempData["AlertMessage"]
            </div>
        }
        <section class="section-preview">
            @using (Html.BeginForm("UploadFile", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row form-group">
                    <div class="col col-md-12">
                        <div class="input-group">

                            <input type="file" id="file" name="file" class="form-control">
                            <div class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-upload"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </section>
        <div class="row mx-m-25">
            @foreach (var item in lsFile)
            {
                <div class="col-6 col-md-3 col-lg-4 px-25">
                    <div class="course-content">
                        <figure class="course-thumbnail">
                            @if (item.Extension.Trim() == ".docx")
                            {
                                <a href="#"><img style="width: 186px; height: 186px" src="~/Asset/images/word.png" alt=""></a>
                            }
                            else if (item.Extension.Trim() == ".txt")
                            {
                                <a href="#"><img style="width: 186px; height: 186px" src="~/Asset/images/text.png" alt=""></a>
                            }
                            else if (item.Extension.Trim() == ".pdf")
                            {
                                <a href="#"><img style="width: 186px; height: 186px" src="~/Asset/images/pdf.jpg" alt=""></a>
                            }
                            else if (item.Extension.Trim() == ".xlsx")
                            {
                                <a href="#"><img style="width: 186px; height: 186px" src="~/Asset/images/xlsx.jpg" alt=""></a>
                            }
                            else
                            {
                                <a href="#"><img style="width: 186px; height: 186px" src="~/Asset/images/not.png" alt=""></a>
                            }
                        </figure><!-- .course-thumbnail -->

                        <div class="course-content-wrap">
                            <header class="entry-header">
                                <h2 class="entry-title" style="height:25px; overflow:hidden"><a href="#" title="@item.FileName">@item.FileName</a></h2>

                                <div class="entry-meta flex align-items-center">
                                    <div class="course-author"><a href="#">@sess.Username</a></div>

                                    <div class="course-date">@item.CreatedDate.Value.ToString("MMMM dd, yyyy")</div>
                                </div><!-- .course-date -->
                            </header><!-- .entry-header -->

                            <footer class="entry-footer flex justify-content-between align-items-center">
                                <div class="course-cost">
                                    <a class="downloadFile" href="/Upload/downloadFile?fileID=@item.ID" data-file_id="@item.ID" title="Tải về"><i class="fa fa-download"></i></a>
                                    <button class="btn btn-remove" data-file_id="@item.ID" title="Xóa file"><i class="fa fa-trash-o"></i></button>
                                </div><!-- .course-cost -->

                                <div class="course-ratings flex justify-content-end align-items-center">
                                    <button class="btn" title="Click để lấy link file" onclick="myFunction(@item.ID)"><i class="fa fa-share" style="padding: 3px"></i>Chia sẻ file</button>
                                </div><!-- .course-ratings -->
                            </footer><!-- .entry-footer -->

                            <footer class="entry-footer flex justify-content-between align-items-center">
                                <div class="course-ratings" style="width:100%">
                                    <input type="text" class="form-control" id="LinkFile_@item.ID" value="http://localhost:59910/Upload/shareFile?path=@item.ParentDirect" style="width:100%; display:none" />
                                </div><!-- .course-ratings -->
                            </footer><!-- .entry-footer -->
                        </div><!-- .course-content-wrap -->
                    </div><!-- .course-content -->
                </div><!-- .col -->
            }

            <div class="col-12 px-25 flex justify-content-center">
                <a class="btn" href="#">view all courses</a>
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- .courses-wrap -->
@section jsGender{
    <script type='text/javascript'>
        function myFunction(ID) {
            var copyText = document.getElementById("LinkFile_" + ID);
            copyText.select();
            copyText.setSelectionRange(0, 99999)
            document.execCommand("copy");
            $('#LinkFile_' + ID).css("display", "inline");

        }
    </script>
}

